/*

This is sample description of `.btn`.

```html
<button class='btn'>Button</button>
```

*/
.btn {
  display: inline-block;
  width: 100px;
  line-height: 1;
}

/*

This is a description of `.container`.

```html
<div class='container'></div>
```

*/
.container {
  min-width: 800px;
}