/*
<button class='btn btn-primary'>Primary Button</button>

```html
<button class='btn btn-primary'>Primary Button</button>
```

<button class='btn btn-success'>Success Button</button>

```html
<button class='btn btn-success'>Success Button</button>
```

# h1

## h2

### h3

#### h4

##### h5

###### h6

This is `inline code block`.

*/
.btn {
  display: inline-block;
  width: 200px;
  border-radius: 5px;
  font-size: 24px;
  line-height: 1.5;
}
.btn.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
.btn.btn-success {
  color: #fff;
  background-color: #47a447;
  border-color: #398439;
}

/*

# Next Class

- This is list item.
- This is list item.
- This is list item.

**This is strong style.**

*This is italic style.*

~~This is line-through style.~~

*/
.next-class {
  display: block;
}