doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title: !=title
    include reset.css
    include markdown.css
    include highlight/github.css
    include layout.css
    style: !=css
  body
    for pair in pairs
      div.asterisk-row
        div.asterisk-row__item.asterisk-row__item--markdown
          != pair.html
        pre.asterisk-row__item.asterisk-row__item--code
          != pair.css